* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(20, 20, 20);
}

.deck {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.infoMessage {
  font-family: 'Newsreader', serif;
  margin: 3em auto;
  color: rgb(120, 120, 120);
}
